.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4rem;
  padding-block: 2rem;
  background-color: var(--beije);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.logo {
  max-width: 100px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.menu a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.8rem;
}

.menu a:hover:not(.active) {
  text-decoration: underline;
}

.menu .active {
  text-decoration: underline;
  text-decoration-color: var(--red-500);
  text-decoration-style: double;
}
