.headers,
.row {
  display: grid;
  gap: 1rem;
  padding-inline: 1rem;
  padding-block: 0.7rem;
  width: max-content;
  justify-content: center;
  align-items: center;
}

.row-size{
  display: contents;
}

.headers {
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid var(--grey-700);
}

.headers > *,
.row-size > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row:not(:last-child) {
  border-bottom: 1px solid var(--grey-700);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.headers p {
  font-weight: 600;
}

.row:nth-child(even) {
  background-color: var(--grey-300);
}

.row-container {
  border-radius: 4px;
  border: 1px solid var(--grey-700);
  overflow: hidden;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.action-btn {
  padding-inline: 8px;
  padding-block: 6px;
  background-color: transparent;
  border: 2px solid var(--red-500);
  color: var(--red-500);
  border-radius: 4px;
  cursor: pointer;
}

.link-btn {
  padding-inline: 8px;
  padding-block: 6px;
  background-color: transparent;
  border: 2px solid rgb(0, 60, 138);
  color: rgb(0, 60, 138);
  border-radius: 4px;
  cursor: pointer;    
}

.link-btn:hover {
  background-color: rgb(0, 60, 138);
  color: var(--white);
    
}

.action-btn:hover {
  background-color: var(--red-500);
  color: var(--white);
}

.row:hover > *:not(button) {
  color: var(--red-500);
}